# Ignore node_modules directory
node_modules/

# Ignore .env files
.env

# Ignore log files
*.log

# Ignore compiled code
dist/
build/
out/

# Ignore editor and operating system files
.vscode/
.DS_Store
Thumbs.db
